body{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.filterbar {
    position:relative;
    width: 150px;
    top:45px;
    margin-left: 240px;
    display:flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px

}

.counter{
    background-color: white;
    border: 2px solid black;
    border-radius: 4px;
    padding: 10px

}

.pagination {
    display:flex;
    flex-direction: row;
}
.pokedex{
    background-image: url('pokedex.png');
    border: 5px solid black;
    border-radius: 10px;
    width: 480px;
    height: 680px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.pokemonList {
    width: 400px;
    height: 450px;
    padding: 15px 0;
    margin-top: 50px;
    background-color: white;
    border: 4px solid black;
    border-radius: 3px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.pokemon {
    padding: 3px;
    border-radius: 5px;
    text-align: center;
}

.name {
    font-weight: bold;
}

.loading >.pokemon{
    visibility: hidden;
}

.searchbar {
    margin-right: 80px;
    padding: 3px;
    display:flex;
    gap: 10px;
    align-content: stretch;
}