.main{
    background-color: #0A285F;
}
.card {
    background-color: #0075BE;
    color: white;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column-reverse;
    box-shadow: 0 9px 11px 0 rgb(0 0 0 / 20%), 0 16px 28px 0 rgb(0 0 0 / 19%);
  }
.cards {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-gap: 1rem;
  }

  .pokemonImg{
      height:100px;
      width: 100px;
      align-self: center;
  }

  .logo{
    width: -webkit-fill-available;
  }

  .footer {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color:#000;
    font:bold 14px;
    color:white;
    width:100%;
    height:auto;
    padding:10px;
    border-top:0px;
    box-shadow: 0 -10px 5px 5px black;
  }

  @media (min-width: 600px) {
    .cards { grid-template-columns: repeat(2, 1fr); }
  }

  @media (min-width: 900px) {
    .cards { grid-template-columns: repeat(3, 1fr); }
  }
  @media (min-width: 1200px) {
    .cards { grid-template-columns: repeat(4, 1fr); }
  }
  @media (min-width: 1500px) {
    .cards { grid-template-columns: repeat(5, 1fr); }
  }
  @media (min-width: 1800px) {
    .cards { grid-template-columns: repeat(6, 1fr); }
  }
  @media (min-width: 2100px) {
    .cards { grid-template-columns: repeat(7, 1fr); }
  }

